.tarjetitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 140px;
}

body{
    background: url('./img/fondo.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    font-family: 'Open Sans', sans-serif;
}
.titulo {
    color:white;
    font-weight: 700!important;
}